---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app victoria-logs
  namespace: &namespace observability
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: victoria-metrics
      namespace: observability
  interval: 30m
  path: ./kubernetes/clusters/home-k3s/apps/observability/victoria-logs/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: logs
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false