# -*- mode: conf -*-
# vim:ft=cfg

# Config file for Radicale - A simple calendar server

[server]
# CalDAV server hostnames
hosts = 0.0.0.0:5232

[auth]
# Authentication method
type = htpasswd

# Htpasswd filename
htpasswd_filename = /config/users

# Htpasswd encryption method (bcrypt requires radicale[bcrypt])
htpasswd_encryption = bcrypt

# Message displayed in the client when a password is needed
realm = Radicale - Password Required

[rights]
# Rights backend - owner_only means users can only access their own data
type = owner_only

[storage]
# Storage backend
type = multifilesystem

# Folder for storing local collections
filesystem_folder = /data/collections

[web]
# Web interface backend
type = internal

[logging]
# Threshold for the logger
level = info
