---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: ${APP}-auth-referencegrant
  namespace: auth
spec:
  from:
    - group: gateway.envoyproxy.io
      kind: SecurityPolicy
      namespace: ${NS}
      name: ${APP}-securitypolicy
  to:
    - group: ""
      kind: Service
      name: authelia