---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zfs-local-dataset
  namespace: democratic-csi
spec:
  interval: 1h
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.0
      sourceRef:
        name: democratic-csi
        kind: HelmRepository
        namespace: flux-system
  values:
    csiDriver:
      name: "org.democratic-csi.zfs-local-dataset"
      attachRequired: false
      storageCapacity: true
      fsGroupPolicy: File

    storageClasses:
      - name: zfs-local-dataset
        defaultClass: false
        reclaimPolicy: Delete
        # distributed support is not yet ready for expansion
        allowVolumeExpansion: false
        parameters:
          fsType: zfs
        mountOptions: ["noatime"]
        # below selects node(s) for this storageClass
        volumeBindingMode: WaitForFirstConsumer

    volumeSnapshotClasses:
      - name: zfs-local-dataset
        deletionPolicy: Delete

    controller:
      enabled: true
      strategy: node
      externalProvisioner:
        extraArgs:
          [
            "--leader-election=false",
            "--node-deployment=true",
            "--node-deployment-immediate-binding=false",
            "--feature-gates=Topology=true",
            "--strict-topology=true",
            "--enable-capacity=true",
            "--capacity-ownerref-level=1",
          ]

      externalAttacher:
        enabled: false

      # distributed support is not yet ready
      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        extraArgs: ["--leader-election=false", "--node-deployment=true"]

    driver:
      config:
        driver: zfs-local-dataset
        zfs:
          datasetParentName: zpool/dataset
          detachedSnapshotsDatasetParentName: zpool/dataset-snapshots
          datasetProperties:
            recordsize: "128k"
            compression: "on"
            atime: "off"
            overlay: "on"
          datasetEnableQuotas: true
          datasetEnableReservation: false
