---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app janitorr
spec:
  interval: 30m
  maxHistory: 2
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile:
          type: RuntimeDefault
    controllers:
      janitorr:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/schaka/janitorr
              tag: native-v1.7.3@sha256:67ce1fe508e1a3a595580719777a24ee9d11b046ed2d1182f68ef412f4afb688
            envFrom:
              - secretRef:
                  name: janitorr-secret
              - secretRef:
                  name: cluster-vars
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
    persistence:
      config:
        type: configMap
        name: janitorr-generated-config
        globalMounts:
          - path: /workspace/application.yml
            subPath: application.yml
      tmp:
        type: emptyDir
        advancedMounts:
          janitorr:
            app:
              - path: /tmp
      media:
        existingClaim: media
        globalMounts:
          - path: /media
