---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-infrastructure
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/clusters/zapp-k3d/infrastructure
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-infrastructure
      namespace: flux-system
  interval: 1h
  path: ./kubernetes/clusters/zapp-k3d/apps
  prune: true
  postBuild:
    substituteFrom:
      - name: cluster-vars
        kind: Secret
        optional: false
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: false
  patches:
    - # Add cluster-vars substitution to child Kustomizations that don't have substituteFrom
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
        spec:
          postBuild:
            substituteFrom:
              - name: cluster-vars
                kind: Secret
                optional: false
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        labelSelector: "!has-custom-substitutions"
