---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.18.6
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-operator
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    ingress:
      dashboard:
        ingressClassName: internal
        host:
          name: rook-k3s.${INTERNAL_DOMAIN}
          path: /
    toolbox:
      enabled: true
      resources:
        requests:
          cpu: 10m
    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard = true
      osd_class_update_on_start = false
    cephClusterSpec:
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: true
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        # prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
      mgr:
        modules:
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      mon:
        count: 3
        allowMultiplePerNode: false
        volumeClaimTemplate:
          spec:
            storageClassName: zfs-local-dataset
            resources:
              requests:
                storage: 10Gi
      network:
        provider: host
        connections:
          requireMsgr2: true
      storage:
        useAllNodes: false
        useAllDevices: false
        nodes:
          - name: REDACTED_NODE_NAME
            devices:
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
          - name: REDACTED_NODE_NAME
            devices:
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
          - name: REDACTED_NODE_NAME
            devices:
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
              - name: REDACTED_DEVICE_ID
        config:
          encryptedDevice: "true"
          osdsPerDevice: "1"
      resources:
        mgr:
          requests:
            cpu: 100m
        mon:
          requests:
            cpu: 300m
        osd:
          requests:
            cpu: 300m
        prepareosd:
          requests:
            cpu: 100m
        mgr-sidecar:
          requests:
            cpu: 10m
        crashcollector:
          requests:
            cpu: 10m
        logcollector:
          requests:
            cpu: 10m
        alertmanager:
          requests:
            cpu: 10m
        cleanup:
          requests:
        exporter:
          requests:
            cpu: 10m

    cephBlockPools:
      - name: ceph-blockpool-replicated
        spec:
          failureDomain: host
          replicated:
            size: 3
          deviceClass: ssd
        storageClass:
          enabled: true
          name: ceph-block-replicated
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions: ["discard"]
          parameters:
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
      - name: ceph-blockpool-ec
        spec:
          failureDomain: osd
          erasureCoded:
            dataChunks: 4
            codingChunks: 2
          deviceClass: ssd
        storageClass:
          enabled: true
          name: ceph-block-ec
          isDefault: false
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions: ["discard"]
          parameters:
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete

    cephFileSystems:
      - name: cephfs
        spec:
          preservePoolNames: true
          preserveFilesystemOnDelete: true
          metadataPool:
            name: cephfs-metadata
            replicated:
              size: 3
          dataPools:
            - name: cephfs-data-replicated
              replicated:
                size: 2
              parameters:
                compression_algorithm: "lz4"
                compression_mode: "aggressive"
            - name: cephfs-data-ec
              erasureCoded:
                dataChunks: 4
                codingChunks: 2
          metadataServer:
            activeCount: 1
            activeStandby: true
            resources:
              limits:
                memory: "4Gi"
              requests:
                cpu: "1000m"
                memory: "4Gi"
            priorityClassName: system-cluster-critical
        storageClass:
          enabled: true
          isDefault: false
          name: ceph-filesystem-ec
          # (Optional) specify a data pool to use, must be the name of one of the data pools above, 'data0' by default
          pool: data-ec
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: "Immediate"
          annotations: {}
          labels: {}
          mountOptions: []
          # see https://github.com/rook/rook/blob/master/Documentation/Storage-Configuration/Shared-Filesystem-CephFS/filesystem-storage.md#provision-storage for available configuration
          parameters:
            # The secrets contain Ceph admin credentials.
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
    cephFileSystemVolumeSnapshotClass:
      enabled: false

    # Explicitly disable Object Store
    cephObjectStores: []
