---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: grafana
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: grafana/grafana
      tag: 12.2.1

    extraInitContainers:
      - name: init-db
        image: ghcr.io/home-operations/postgres-init:17
        imagePullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: grafana-initdb-secret

    annotations:
      reloader.stakater.com/auto: "true"

    replicas: 1
    rbac:
      pspEnabled: false

    admin:
      existingSecret: grafana-admin

    envFromSecrets:
      - name: grafana-secret

    persistence:
      enabled: false

    env:
      GF_ANALYTICS_REPORTING_ENABLED: "false"
      GF_EXPLORE_ENABLED: true
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DASHBOARDS_MIN_REFRESH_INTERVAL: 2s
      # Grafana
      GF_DATABASE_NAME: grafana
      GF_DATABASE_HOST: postgres17-rw.database.svc.cluster.local:5432
      GF_DATABASE_SSL_MODE: disable
      GF_DATABASE_TYPE: postgres

    envValueFrom:
      GF_DATABASE_USER:
        secretKeyRef:
          name: grafana-pguser-secret
          key: user
      GF_DATABASE_PASSWORD:
        secretKeyRef:
          name: grafana-pguser-secret
          key: password

    grafana.ini:
      news:
        news_feed_enabled: false
      server:
        root_url: https://grafana.${INTERNAL_DOMAIN}
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      log:
        mode: console
      panels:
        disable_sanitize_html: true
      auth:
        signout_redirect_url: "https://auth.${DOMAIN}/logout"
        oauth_auto_login: true
      auth.generic_oauth:
        enabled: true
        name: Authelia
        scopes: openid profile email groups
        empty_scopes: false
        auth_url: https://auth.${DOMAIN}/api/oidc/authorization
        token_url: https://auth.${DOMAIN}/api/oidc/token
        api_url: https://auth.${DOMAIN}/api/oidc/userinfo
        login_attribute_path: preferred_username
        groups_attribute_path: groups
        name_attribute_path: name
        use_pkce: true
      auth.generic_oauth.group_mapping:
        role_attribute_path: |
          contains(groups[*], 'grafana-admin') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
        org_id: 1
      auth.basic:
        enabled: true
      auth.anonymous:
        enabled: false

    route:
      main:
        enabled: true
        hostnames: ["{{ .Release.Name }}.${INTERNAL_DOMAIN}"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: grafana.png
          gethomepage.dev/name: Grafana
          gethomepage.dev/group: Observability
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

    serviceMonitor:
      enabled: true

    serviceAccount:
      autoMount: true

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: ceph
            orgId: 1
            folder: Ceph
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/ceph
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: media
            orgId: 1
            folder: Media
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/media
          - name: envoy
            orgId: 1
            folder: Envoy
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/envoy
          - name: victoria-metrics
            orgId: 1
            folder: VictoriaMetrics
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/victoria-metrics

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Alertmanager, orgId: 1 }
          - { name: Prometheus, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://vmsingle-stack.observability.svc.cluster.local:8428
          - name: VictoriaMetrics
            type: victoriametrics-metrics-datasource
            access: proxy
            url: http://vmsingle-stack.observability.svc.cluster.local:8428
            isDefault: true
          - name: Alertmanager
            type: alertmanager
            uid: alertmanager
            access: proxy
            url: http://vmalertmanager-stack.observability.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
          # - name: VictoriaLogs
          #   type: victoriametrics-logs-datasource
          #   access: proxy
          #   url: http://victoria-logs-server.observability.svc.cluster.local:9428

    dashboards:
      default:
        cloudflared:
          # renovate: depName="Cloudflare Tunnels (cloudflared)"
          gnetId: 17457
          revision: 6
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        external-dns:
          # renovate: depName="External-dns"
          gnetId: 15038
          revision: 3
          datasource: Prometheus
        node-exporter-full:
          # renovate: depName="Node Exporter Full"
          gnetId: 1860
          revision: 42
          datasource: Prometheus
        cert-manager:
          # renovate: depName="Cert-manager-Kubernetes"
          gnetId: 20842
          revision: 3
          datasource: Prometheus
        external-secrets:
          url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
          datasource: Prometheus
        nut-exporter:
          url: https://raw.githubusercontent.com/DRuggeri/nut_exporter/refs/heads/master/dashboard/dashboard.json
          datasource: Prometheus
        synology-nas-details:
          # renovate: depName="Synology NAS Details"
          gnetId: 14284
          revision: 10
          datasource: Prometheus
        spegel:
          # renovate: depName="Spegel"
          gnetId: 18089
          revision: 1
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
        flux-logs:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
          datasource: Prometheus
        gatus:
          url: https://raw.githubusercontent.com/TwiN/gatus/master/.examples/docker-compose-grafana-prometheus/grafana/provisioning/dashboards/gatus.json
          datasource: Prometheus
        volsync:
          # renovate: depName="VolSync Dashboard"
          gnetId: 21356
          revision: 3
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
            - { name: VAR_REPLICATIONDESTNAME, value: .*-dst }
      ceph:
        ceph-cluster:
          # renovate: depName="Ceph Cluster"
          gnetId: 2842
          revision: 18
          datasource: Prometheus
        ceph-osd:
          # renovate: depName="Ceph - OSD (Single)"
          gnetId: 5336
          revision: 9
          datasource: Prometheus
        ceph-pools:
          # renovate: depName="Ceph - Pools"
          gnetId: 5342
          revision: 9
          datasource: Prometheus
      kubernetes:
        kubernetes-api-server:
          # renovate: depName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 20
          datasource: Prometheus
        kubernetes-coredns:
          # renovate: depName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 22
          datasource: Prometheus
        kubernetes-global:
          # renovate: depName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 43
          datasource: Prometheus
        kubernetes-namespaces:
          # renovate: depName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 44
          datasource: Prometheus
        kubernetes-nodes:
          # renovate: depName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 40
          datasource: Prometheus
        kubernetes-pods:
          # renovate: depName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 37
          datasource: Prometheus
      media:
        qbittorrent-exporter:
          url: https://raw.githubusercontent.com/esanchezm/prometheus-qbittorrent-exporter/master/grafana/dashboard.json
          datasource: Prometheus
        overseerr-exporter:
          url: https://raw.githubusercontent.com/WillFantom/overseerr-exporter/main/grafana/dashboard.json
          datasource: Prometheus
        exportarr:
          url: https://raw.githubusercontent.com/onedr0p/exportarr/master/examples/grafana/dashboard2.json
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        unpackerr:
          # renovate: depName="Unpackerr"
          gnetId: 18817
          revision: 1
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
      envoy:
        envoy-clusters:
          url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-clusters.json
          datasource: Prometheus
        envoy-gateway-global:
          url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-gateway-global.json
          datasource: Prometheus
        envoy-proxy-global:
          url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-proxy-global.json
          datasource: Prometheus
        global-ratelimit:
          url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/global-ratelimit.json
          datasource: Prometheus
      victoria-metrics:
        backupmanager:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/backupmanager.json
          datasource: Prometheus
        clusterbytenant:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/clusterbytenant.json
          datasource: Prometheus
        operator:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/operator.json
          datasource: Prometheus
        victorialogs:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victorialogs.json
          datasource: Prometheus
        victoriametrics-cluster:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics-cluster.json
          datasource: Prometheus
        victoriametrics:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics.json
          datasource: Prometheus
        vmagent:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmagent.json
          datasource: Prometheus
        vmalert:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmalert.json
          datasource: Prometheus
        vmauth:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmauth.json
          datasource: Prometheus

    sidecar:
      image:
        registry: ghcr.io
        repository: home-operations/k8s-sidecar
        tag: 2.1.2@sha256:d9e169add4e71fd5931a24e11696853f3d804ebc2022cd81f038e7ef22f4d626
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
        label: grafana_datasource
    testFramework:
      enabled: false
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - vonage-status-panel
      - victoriametrics-logs-datasource
      - victoriametrics-metrics-datasource
