---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 1h
  maxHistory: 1
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
    namespace: flux-system
  install:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  upgrade:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  values:
    replicaCount: 2
    manager:
      topologySpreadConstraints:
        - maxSkew: 1 # Skew of 1 allows for rolling updates
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: *app
          whenUnsatisfiable: DoNotSchedule
    # serviceMonitor:
    #   enabled: true
    grafanaDashboard:
      enabled: true
