---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg
  namespace: &namespace database
spec:
  dependsOn:
    - name: onepassword
      namespace: external-secrets
    - name: zfs-local-dataset
      namespace: democratic-csi
  interval: 30m
  path: ./kubernetes/clusters/home-k3s/apps/database/cloudnative-pg/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 3m
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-cluster
  namespace: &namespace database
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: *namespace
    - name: zfs-local-dataset
      namespace: democratic-csi
  interval: 30m
  path: ./kubernetes/clusters/home-k3s/apps/database/cloudnative-pg/cluster
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 3m
  wait: true
