---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kata-deploy
spec:
  interval: 1h
  maxHistory: 1
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: flux-system
  install:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  upgrade:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  values:
    k8sDistribution: k3s
    nodeSelector:
      kata-containers: "enabled"
    env:
      debug: "true"
