---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-external-dns
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    logLevel: debug
    provider:
      name: cloudflare
    env:
      - name: &name CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: &secret external-external-dns-secret
            key: *name
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=external
      - --gateway-namespace=network
    triggerLoopOnEvent: true
    policy: sync
    sources: ["crd", "gateway-httproute"]
    txtOwnerId: default
    txtPrefix: home-k3s.
    domainFilters: ["${DOMAIN}"]
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    # extraArgs:
    #   - --ignore-ingress-tls-spec
    #   - --rfc2136-tsig-secret-alg=hmac-sha256
    #   - --rfc2136-tsig-keyname=external-dns-home-k3s
    #   - --rfc2136-tsig-axfr
    #   - --gateway-name=internal
    # triggerLoopOnEvent: true
    # policy: sync
    # sources: ["crd", "gateway-httproute"]
    # txtOwnerId: home-k3s
    # txtPrefix: "home-k3s-%{record_type}-"
    # domainFilters: ["${INTERNAL_DOMAIN}"]
    # serviceMonitor:
    #   enabled: true
