---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app restic-rest-nfs
  namespace: flux-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      main:
        type: deployment
        replicas: 1
        containers:
          main:
            image: &img
              repository: "docker.io/restic/rest-server"
              tag: "0.14.0@sha256:d2aff06f47eb38637dff580c3e6bce4af98f386c396a25d32eb6727ec96214a5"
            env:
              TZ: "${CONFIG_TZ}"
              DISABLE_AUTHENTICATION: "true" # TODO: enable when VolSync adds support
              #OPTIONS: "--prometheus --prometheus-no-auth"
              DATA_DIRECTORY: &data "/data"
              #PASSWORD_FILE: &passwd "/secrets/.htpasswd"
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
                memory: "128Mi"
              limits:
                cpu: "3000m"
                memory: "6000Mi"
    service:
      main:
        ports:
          http:
            port: &port 8000

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${INTERNAL_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        enabled: true
        type: nfs
        server: "REDACTED_PRIVATE_IP"
        path: "/mnt/user/restic/home-k3s"
        globalMounts:
          - path: /data

    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: false
        runAsUser: &uid 1000 # TODO: change this
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: "Always"
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: "hardwaretype"
                    operator: "In"
                    values:
                      - "bd795"
