---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app amd-gpu-node-labeller
  namespace: kube-system

spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: amd-device-plugin
      namespace: kube-system
  values:
    defaultPodOptions:
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
      nodeSelector:
        amd.feature.node.kubernetes.io/gpu: "true"
        kubernetes.io/arch: amd64
      priorityClassName: system-node-critical
    controllers:
      amd-gpu-node-labeller:
        type: daemonset
        containers:
          app:
            image:
              repository: docker.io/rocm/k8s-device-plugin
              tag: labeller-REDACTED_PUBLIC_IP@sha256:cd0decbe8e44ff8906fe9c3163b1ae102bcffc23e85edd6213f393beaa8ad78e

            command: ["/root/k8s-node-labeller"]

            args:
              [
                "-logtostderr=true",
                "-stderrthreshold=INFO",
                "-v=5",
                "-vram",
                "-cu-count",
                "-simd-count",
                "-device-id",
                "-family",
              ]

            env:
              TZ: ${TZ}
              DS_NODE_NAME:
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName

            resources:
              requests:
                cpu: 25m
                memory: 10Mi
              limits:
                memory: 100Mi

            securityContext:
              privileged: true
              capabilities:
                drop: ["ALL"]

    serviceAccount:
      amd-gpu-node-labeller: {}

    service:
      app:
        enabled: false
        controller: amd-gpu-node-labeller

    persistence:
      sys:
        enabled: true
        type: hostPath
        hostPath: /sys

      dev:
        enabled: true
        type: hostPath
        hostPath: /dev
