---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-downloader
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
        seccompProfile: { type: RuntimeDefault }
    controllers:
      ${APP}:
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader-extbp
              tag: v0.2.4@sha256:23aabf29f4db80d21f20dfaff6fc4bafad8858987bfd89fccb8c78c101b92068
            env:
              FLASK_PORT: &port 8084
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
              DEFAULT_SLEEP: 15
              USE_BOOK_TITLE: true
              LOG_LEVEL: debug
              # Use flaresolverr instead of integrated chromium
              EXT_BYPASSER_URL: http://flaresolverr:8191
            command:
              - /bin/sh
              - -c
              - |
                gunicorn -t 300 -b REDACTED_PUBLIC_IP:8084 app:app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              limits:
                memory: 500Mi
            securityContext:
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
              allowPrivilegeEscalation: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["books.${DOMAIN}"]
        parentRefs:
          - name: ${GATEWAY_NAME}
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /app/downloaded_files
            subPath: downloads
          - path: /var/log/cwa-book-downloader/
            subPath: logs
      cwa-book-ingest:
        existingClaim: cwa-book-ingest
        globalMounts:
          - path: *ingest
