---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-home-ops
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  driftDetection:
    mode: enabled
  dependsOn:
    - name: actions-runner-controller
      namespace: actions-runner-system
  values:
    githubConfigUrl: https://github.com/REDACTED_NAME/home-ops

    minRunners: 0
    maxRunners: 3

    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes:
          - ReadWriteOnce
        storageClassName: zfs-local-dataset
        resources:
          requests:
            storage: 5Gi

    controllerServiceAccount:
      name: actions-runner-controller
      namespace: actions-runner-system

    template:
      spec:
        runtimeClassName: kata-qemu
        securityContext:
          fsGroup: 123
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.329.0@sha256:1d26dc36431014527e0d920e7b84878dcf8fd69fb9639598de1af5ccf9210131
            command:
              - /home/runner/run.sh
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
              - name: NODE_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
            resources:
              requests:
                cpu: "2"
                memory: "4Gi"
              limits:
                cpu: "4"
                memory: "8Gi"
        serviceAccountName: actions-runner

  valuesFrom:
    - kind: Secret
      name: actions-runner-controller-secret
      valuesKey: github_app_id
      targetPath: githubConfigSecret.github_app_id
    - kind: Secret
      name: actions-runner-controller-secret
      valuesKey: github_app_installation_id
      targetPath: githubConfigSecret.github_app_installation_id
    - kind: Secret
      name: actions-runner-controller-secret
      valuesKey: github_app_private_key
      targetPath: githubConfigSecret.github_app_private_key
