---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app internal-external-dns
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    logLevel: debug
    provider:
      name: rfc2136
    env:
      - name: EXTERNAL_DNS_RFC2136_ZONE
        value: "${INTERNAL_DOMAIN}"
      - name: EXTERNAL_DNS_RFC2136_HOST
        value: "REDACTED_PRIVATE_IP"
      - name: EXTERNAL_DNS_RFC2136_PORT
        value: "53"
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
        valueFrom:
          secretKeyRef:
            name: internal-external-dns-secret
            key: TSIG_KEY
    extraArgs:
      - --ignore-ingress-tls-spec
      - --rfc2136-tsig-secret-alg=hmac-sha256
      - --rfc2136-tsig-keyname=external-dns-home-k3s
      - --rfc2136-tsig-axfr
      - --gateway-name=internal
    triggerLoopOnEvent: true
    policy: sync
    sources: ["crd", "gateway-httproute"]
    txtOwnerId: home-k3s
    txtPrefix: "home-k3s-%{record_type}-"
    domainFilters: ["${INTERNAL_DOMAIN}"]
    serviceMonitor:
      enabled: true
